@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

}

@theme{
  --color-primary:#0071dc;
  --color-secondary:#ffc221;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.gradient-black{
 background-image:linear-gradient(12deg, black, #000000d4, rgb(0 0 0 / 10%), rgb(0 0 0 / 0%)); 
}